# Build system cache
# xmake
.xmake/
build/
# mcpp
target/

# MacOS Cache
.DS_Store

# IDE Cache
.idea/
.vscode/
.vs/
compile_commands.json
contract_violations.log
*.gcov
*.gcda
*.gcno
